torchsde==0.2.6
einops==0.4.1
transformers==4.41.2
safetensors==0.4.3
accelerate==0.21.0
pyyaml==6.0.1
Pillow==10.3.0
scipy==1.13.1
tqdm==4.64.1
psutil==5.9.5
pytorch_lightning==1.9.4
omegaconf==2.2.3
gradio==3.41.2
pygit2==1.15.0
opencv-contrib-python==4.8.0.74
httpx==0.24.1
onnxruntime==1.18.0
timm==0.9.2
numpy==1.26.4
tokenizers==0.19.1
packaging==24.1
rembg==2.0.57
groundingdino-py==0.4.0
segment_anything==1.0